.navbar-default {
    background: linear-gradient(90deg, #6220b6, #d52cc8);
    background-color: red;
}

    .navbar-default .navbar-text {
        color: antiquewhite;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: antiquewhite;
    }

    .navbar-default .navbar-brand {
        color: #d6d6d6;
    }

    .navbar-default .navbar-brand {
        color: antiquewhite;
    }

    .navbar-default a > b {
        color: antiquewhite;
    }

    .navbar-default .navbar-nav > li > a {
        color: antiquewhite;
    }
#listing li{
    float:left;
    margin-left:10px;
}
#listing p.addProduct {
    background-image: url('../assets/city.jpg');
    display: inline-block;
    height:40px;
    width: 20px;
}
    body {
    background-image: url('../assets/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
}

@media (max-width: 850px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
}
ul
{
    list-style-type: none;
}
.categoryList > li > img
{
   border-radius: 50%;
   width: 42px;
   height: 42px;
}
